html,
body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: "Fixedsys Excelsior";
	font-size: 30px;
	text-align: center;
}


body {
	background-color: lightcyan;
	background-size: 10px 10px;
	background-image:
			linear-gradient(to right, fade(black, 10%) 1px, transparent 1px),
			linear-gradient(to bottom, fade(black, 10%) 1px, transparent 1px);
}

.button {
	cursor: pointer;
	background-color: indianred;
	padding: 1em 2em;
	color: aquamarine;
	display: inline-block;
}

.cropper {
	background-color: tomato;
	margin: auto;

	&__controls {
		position: fixed;
		z-index: 99999;
		z-index: 1000;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: fade(black, 8%);
	}

	img {
		display: block;
	}

	&__area {
		position: relative;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		background-color: mediumspringgreen;
	}
}
